@import '../../common/variables.scss';

.input {
  background-color: $color-input-bg;
  color: $color-input-fg;
  border: none;
  padding: .7em .8em;
  font: inherit;
  border: 1px solid darken($color-input-bg, 15%);
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  appearance: none;
  &::placeholder {
    color: rgba($color-input-fg, 0.6);
  }
  &::selection {
    background: $color-primary;
    color: $color-primary-contrast;
  }
  &:focus {
    outline-color: $color-primary;
  }
}
