@import "../../common/variables.scss";

.button {
  display: inline-block;
  padding: .75em 1.4em;
  border-radius: $border-radius-default;
  text-align: center;
  font-size: inherit;
  color: $color-primary-contrast;
  background-color: $color-primary;
  border: none;
  box-shadow: $box-shadow-default;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s, background-color 0.3s;
  appearance: none;
  &:hover {
    background-color: $color-primary-light;
  }
  &:active {
    background-color: $color-primary-dark;
  }
  &:focus {
    outline: 0;
  }
}
