.grid {
  .row {
    display: flex;
    flex-wrap: wrap;
    .cell {
      max-width: 120px;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0%;
      border: 1px solid #D9D9D9;
    }
  }
}

