@import "../../common/variables.scss";

// The following variables are marked ad default, so can be overwritten in
// the variables.scss files, in order to improve the reusability of the
// component in different projects.
$color-filled: $palette-light-gray !default;
$color-filled-hover: lighten($color-filled, 2.8%) !default;
$color-clear: $palette-white !default;
$color-clear-hover: darken($color-clear, 2%) !default;
$color-start: $palette-green !default;
$color-start-hover: darken($color-start, 10%) !default;
$color-end: $palette-dark-green !default;
$color-end-hover: darken($color-end, 10%) !default;
$color-path: $palette-orange !default;
$color-path-hover: darken($color-path, 10%) !default;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseBack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.tile {
  transform-origin: center center;
  user-select: none;
  .inner {
    width: 100%;
    padding-top: 100%;
  }
  &.status-filled {
    animation: pulseBack .2s;
    .inner {
      background-color: $color-filled;
      &:hover {
        background-color: $color-filled-hover;
      }
    }
  }
  &.status-clear {
    animation: pulse .2s;
    .inner {
      background-color: $color-clear;
      &:hover {
        background-color: $color-clear-hover;
      }
    }
  }
  &.status-start {
    .inner {
      background-color: $color-start;
      &:hover {
        background-color: $color-start-hover;
      }
    }
  }
  &.status-end {
    .inner {
      background-color: $color-end;
      &:hover {
        background-color: $color-end-hover;
      }
    }
  }
  &.status-path {
    animation: pulse .2s;
    .inner {
      background-color: $color-path;
      &:hover {
        background-color: $color-path-hover;
      }
    }
  }
}
