.gridster {
  max-width: 520px;
  padding: 0 20px;
  margin: 30px auto;
  .logo {
    max-width: 220px;
    margin: 10px 0;
  }
  .configPanel {
    margin: 25px 0;
  }
  .mazeBox {
    margin: 10px auto;
  }
}
