@import "../../common//variables.scss";

.gridsterConfig {
  display: flex;
  padding: 15px 30px;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: $palette-light-gray;
  border-radius: $border-radius-default;
  .sizeInputWrapper {
    .sizeInputLabel,
    .sizeInput {
      display: block;
    }
    .sizeInputLabel {
      margin-bottom: 2px;
    }
    .sizeInput {
      width: 60px;
      padding-left: 1.5em;
      text-align: center;
    }
  }
  .inputSeparator {
    margin: 0 1em .7em;
  }
  .submitButton {
    margin-left: 25px;
  }
}
