@import "./variables.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: $font-size-default;
}
body {
  font-family: $font-family-primary;
  line-height: $line-height-default;
  color: $color-fg;
  background-color: $color-bg;
}
a {
  color: inherit;
  text-decoration: none;
}
