// Palette
$palette-white: #FFFFFF;
$palette-light-gray: #F1F1F1;
$palette-gray: #D9D9D9;
$palette-black: #000000;
$palette-light-black: #4A4A4A;
$palette-green: #7ED321;
$palette-dark-green: #639530;
$palette-orange: #F5A623;
$palette-blue: #4A90E2;
$palette-light-blue: #76B5FF;
$palette-dark-blue: #235896;

// Project Colors
$color-fg: $palette-light-black;
$color-bg: $palette-white;
$color-fg-alt: $palette-light-gray;
$color-bg-alt: $palette-light-black;

$color-input-bg: $color-bg;
$color-input-fg: $color-fg;

$color-primary: $palette-blue;
$color-primary-contrast: $palette-white;
$color-primary-light: $palette-light-blue;
$color-primary-dark: $palette-dark-blue;

// Typography
$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-default: 13px;
$line-height-default: 1.3em;

// Other
$border-radius-default: 5px;
$box-shadow-default: 1px 0 5px rgba(black, .1);
